<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>tunr</title>
</head>
<body>
  <header>
    <h1>tunr</h1>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
